# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

Makefile
*~
*.o
*.la
*.lo
*.Po
.deps
.libs

src/gnome-html-desktop

/config.log
/config.guess
/config.status
/config.sub
/libtool

po/POTFILES
po/stamp-it
po/Makefile.in
